.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ff6600;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f4c430;
}

.red-text-shadow {
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create three unequal columns that floats next to each other */
.column {

  padding: 10px;
}

.left {
  width: 10%;
}

.right {
  width: 10%;
}

.middle {
  width: 80%;
}

.h4 {
  font-size: calc(200px + 2vmin);
  textDecorationLine: 'underline';
}

.filldiv{
  position:absolute;
  bottom:20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
